echo "# CS111.N21" >> README.md
git init
git add README.md
git commit -m "optimizing program"
git branch -M main
git remote add origin https://github.com/ynwawithpogct/CS111.N21.git
git push -u origin main
